
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}
.header{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    
    width: 130px;
}
.nav-items{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-items > ul{

   display: flex;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;

}
.filter{
    margin: 10px auto;
}
.filter-btn{
    margin-left: 10px;
    cursor: pointer;
}
.res-card{
    margin: 10px;
    width: 200px;
    
    
    background-color:#f0f0f0;
    padding: 5px;
}
.res-card:hover{
    border: 1px solid black;
}
.res-logo{
    width: 100%;
}
.res-container{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
}
h4{
    width: 200px;
    
}

.shimmer-conatiner{
    display: flex;
    flex-wrap: wrap;
}
.shimmer_card{
    margin: 10px;
    width: 200px;
    height:400px;
    background-color: #f0f0f0;
}
.login-btn{
    margin-right: 10px;
    width: 60px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.filter{
    display: flex;
    margin-left: 20px;
}